@{
    ViewData["Title"] = "Home Page";
}
@model int
<a id="Id" value=@Model/>
<div class="text-center">
    <h1 id="test" class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form action="/Home/Privacy" method="post">
        <input type="number" name="id" />
        <input type="submit" value="Wyślij" />
    </form>
    <script>


    document.getElementById("test").onclick = function () { test() };
    function test() {
        $.ajax({
            type: "GET", dataType: 'json',
            //url: 'http://localhost:38061/DatingSite/Profile/Get?id=1',
            url:'@Url.Action("Profile/Get", "DatingSite")',
            data: { id : @Model },

            success: function (result) {
                //do something with result here
                alert(result['imie']);
            },
        error: function () {
                // Obsługa błędów
            }
        });
    }
    </script>
</div>
